@import "tailwindcss";
@import 'flowbite/dist/flowbite.min.css';
#root {
  margin: 0 auto;

}

.custom-nav{
  position: absolute !important;
  z-index: 100 !important;
  background-color: transparent !important;
}