@import "tailwindcss";
@import 'flowbite/dist/flowbite.min.css';

#root {
  margin: 0 auto;

}

.custom-nav{
  position: absolute !important;
  z-index: 100 !important;
  background-color: transparent !important;
}

.botoesNav {
  background-color: #fa70a0; /* Rosa claro */
  color: #ffffff; /* Rosa escuro */
  border: 1px solid white; /* Borda branca */
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botoesNav:hover,
.botoesNav.active {
  background-color: #ffffff;/* Rosa mais forte no hover */
  color: #fa70a0; /* Texto branco no hover */
  border-color: #FFB6C1; /* Borda rosa claro no hover */
}

.texto-com-borda {
  /* Efeito de borda no texto */
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; /* Cria o efeito de borda preta */
  
  /* Transição suave para o hover */
  transition: color 0.3s ease;
}

.texto-com-borda:hover {
  color: #fff; /* Cor do texto no hover - altere para a cor desejada */
  /* A borda permanece a mesma, apenas o texto muda de cor */
}

.texto-com-borda {
  font-weight: bold;
  /* Transição suave para o hover */
  transition: color 0.3s ease;
}
